<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Value in Hours-->
    <add key="EventLogDelay" value="2"/>
    <!--Server list path-->
    <add key="ServersPath" value="D:\DashboardCsvFiles\Servers.csv"/>
    <!--Services list path-->
    <add key="ServicesPath" value="D:\DashboardCsvFiles\Services.csv"/>
    <!--Folders to check Time-->
    <add key="PathsCheckingPath" value="D:\DashboardCsvFiles\PathsChecking.csv"/>
    <add key="logFilePath" value="D:\DashboardCsvFiles\log\"/>
    <!--EventId for Prio0 641-->
    <add key="useMfIMonitor" value="false"/>
    <add key="eventIdPrio0" value="3"/>
    <add key="driver" value="{SQL Server Native Client 11.0}"/>
    <add key="server" value=""/>
    <add key="dsn" value="Dashboard"/>
    <add key="serverNameColumn" value="Servername"/>
    <add key="numberOfPrio0Column" value="NumberOfPrio0"/>
    <add key="timestampColumn" value="Timestamp"/>
    <add key="database" value="Mfi2Dashboard"/>
    <add key="databaseTable" value="[Mfi2Dashboard].[dbo].[Prio0]"/>
    <!--Choose here the number of the Screen-->
    <add key="ScreenNumber" value="0"/>
    <!-- Time how often to check for something in ms -->
    <add key="checkPrio0Time" value="2000"/>
    <add key="checkStoppedServicesTime" value="5000"/>
    <add key="checkFolderTime" value="5000"/>
    <add key="checkCapturePerformanceTime" value="2000"/>
    <add key="CheckAidaWorkerPerformanceTime" value="2000"/>
    <add key="CheckCaptureWorkerPerformanceTime" value="2000"/>
    <add key="checkCaptureHDDTime" value="60000"/>
    <add key="CheckAidaWorkerHDDTime" value="60000"/>
    <add key="CheckCaptureWorkerHDDTime" value="60000"/>
    <add key="closeServiceWindowAutomatic" value="true"/>
    <add key="closePrioWindowAutomatic" value="true"/>
    <add key="closeFaxWindowAutomatic" value="true"/>
    <!-- percentage (0 - 100) when the progressbar should become another color -->
    <add key="ramWarningPercentage" value="80"/>
    <add key="cpuWarningPercentage" value="80"/>
    <add key="hddWarningPercentage" value="95"/>
    <!--Colors-->
    <add key="fontColor" value="FFF1F2F3"/>
    <add key="backColorCapturePanel" value="FF111111"/>
    <add key="backColorWorkerPanel" value="FF111111"/>
    <add key="backColorServerDisconnect" value="FFFF0000"/>
    <add key="backColorServerPanelByProblems" value="FFFF0000"/>
    <add key="ramWarningColor" value="FFFF0000"/>
    <add key="cpuWarningColor" value="FFFF0000"/>
    <add key="hddWarningColor" value="FFFF0000"/>
    <add key="cpuColor" value="FF2ECC40"/>
    <add key="ramColor" value="FF2ECC40"/>
    <add key="backColorServiceWindow" value="FFFF8000"/>
    <add key="backColorServiceWindow2" value="FFFF0000"/>
    <add key="gridColorServiceWindow" value="FF000000"/>
    <add key="backColorPrioWindow" value="FFFF8000"/>
    <add key="backColorPrioWindow2" value="FFFF0000"/>
    <add key="gridColorPrioWindow" value="FF000000"/>
    <add key="backColorFaxWindow" value="FFFF8000"/>
    <add key="backColorFaxWindow2" value="FFFF0000"/>
    <add key="gridColorFaxWindow" value="FF000000"/>
    <!-- Opacity -->
    <add key="opacityServiceWindow" value="0,8"/>
    <add key="opacityprioWindow" value="0,8"/>
    <add key="opacityFaxWindow" value="0,8"/>
    <!--Font
    fontStyle: regular -> 0
               bold -> 1
               italic -> 2
               underline -> 4
               strikeout -> 8
               -->
    <add key="fontMainWindowSize" value="13"/>
    <add key="fontMainWindowName" value="Microsoft Sans Serif"/>
    <add key="fontMainWindowStyle" value="0"/>
    <add key="fontServiceWindowSize" value="13"/>
    <add key="fontServiceWindowName" value="Microsoft Sans Serif"/>
    <add key="fontServiceWindowStyle" value="0"/>
    <add key="fontPrioWindowSize" value="13"/>
    <add key="fontPrioWindowName" value="Microsoft Sans Serif"/>
    <add key="fontPrioWindowStyle" value="0"/>
    <add key="fontFaxWindowSize" value="13"/>
    <add key="fontFaxWindowName" value="Microsoft Sans Serif"/>
    <add key="fontFaxWindowStyle" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
